{
  "env": {
    "node": true,
    "es2020": true,
    "jest": true,
    "browser": true,
    "commonjs": true
  },
  "extends": [
    "airbnb-base",
    "plugin:security/recommended",
    "plugin:react/recommended"
  ],
  "plugins": ["security", "react"],
  "parserOptions": {
    "ecmaVersion": 2023,
    "sourceType": "module"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "security/detect-object-injection": "off",
    "quotes": ["error", "double"],
    "comma-dangle": ["error", "never"],
    "no-underscore-dangle": "off",
    "no-unused-vars": "warn",
    "object-curly-newline": "off",
    "implicit-arrow-linebreak": "off",
    "operator-linebreak": "off",
    "import/no-named-as-default-member": "off",
    "import/no-named-as-default": "off",
    "max-len": "off",
    "function-paren-newline": "off",
    "import/extensions": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "node/no-unsupported-features/es-builtins": "off",
    "class-methods-use-this": "off"
  }
}
